@charset "utf-8";
/* CSS Document */

body {
	font-size: large;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  background-color: cyan;
}

h3 {
	margin: 20px 0px 0px;
	letter-spacing: 1px;
}

.header {
  width: 100%;
  opacity: 0.9;
}

/* Nav */
.accordion {
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #111;
  color: cyan;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 1s;
}
.active, .accordion:hover {
  	background-color: #444;
}
.panel {
  padding: 0px 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}
.accordion:after {
  content: '\2795'; /* Unicode "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796"; /* Unicode "minus" sign (-) */
}
/* Nav */

.bgimg_1 {
  background-image: url("sample_page_1_images/bgimg_1.jpg");
}
.bgimg_2 {
  background-image: url("sample_page_1_images/bgimg_2.jpg");
}
.bgimg_3 {
  background-image: url("sample_page_1_images/bgimg_3.jpg");
}
.bgimg_1, .bgimg_2, .bgimg_3 {
	height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_1 {
	background-color: cyan;
	color: black;
  padding: 10px 0px;
}
.content_2 {
	background-color: cyan;
	color: black;
  padding: 10px 0px;
}
.content_3 {
  background-color: cyan;
  color: black;
  padding: 10px 0px;
}

.text_2 {
	text-align: center;
}

.current_models_table {
	width: 100%;
	height: 10%;
	background-color: cyan;
	display: flex;
	justify-content: center;
}
.current_models {
	width: 15%;
	height: 10%;
	background-color: cyan;
	margin: auto;
	text-align: center;
}
.current_models_specs_ss {
	width: 100%;
	text-align: center;
	background-color: cyan;
	margin-top: 10px;
}
.specs {
	display: none;
}

#GTC4Lusso {
	width: 100%;
	margin-top: 20px;
}
#F8_Tributo {
	width: 100%;
	margin-top: 20px;
}
#Portofino {
	width: 100%;
	margin-top: 20px;
}
#Superfast {
	width: 100%;
	margin-top: 20px;
}
#SF90_Stradale {
	width: 100%;
	margin-top: 20px;
}
#Roma {
	width: 100%;
	margin-top: 20px;
}

/* slideshow images */
#GTC4Lusso_slideshow {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#F8_Tributo_slideshow {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#Portofino_slideshow {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#Superfast_slideshow {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#SF90_Stradale_slideshow {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#Roma_slideshow {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* slideshow images */

/* slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
	margin-left: 0px;
	margin-right: 0px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0px 10px 10px 0px;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 20px 10px;
	background-color: #777;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active_ss, .dot:hover {
  	background-color: black;
}
.fade {
 	animation-name: fade;
 	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
 	from {opacity: .4}
 	to {opacity: 1}
}
@keyframes fade {
 	from {opacity: .4}
 	to {opacity: 1}
}
/* slideshow */

/* form */
input[type=text], select, textarea{
  background-color: white;
 	width: 100%;
 	padding: 12px;
 	border: 1px solid #ccc;
 	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
}
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}
input[type=submit] {
 	background-color: green;
 	color: white;
  font-weight: bold;
 	padding: 12px 20px;
 	border: none;
 	border-radius: 4px;
 	cursor: pointer;
	float: right;
}
.container {
  border-radius: 15px;
  background-color: #111;
  color: cyan;
  padding: 20px;
	margin: 0px 250px;
}
.col_25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col_75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.form_row:after {
  content: "";
  display: table;
	clear: both;
}
#form_message {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
/* form */

hr {
  border: none;
  border-top: 1px solid black;
}
.footer {
  font-size: 0.7em;
  font-weight: bold;
  color: black;
  text-align: center;
}

/* responsive */
@media screen and (max-width: 1650px) {
  .current_models_table {
	   display: none;
  }
	.bgimg_1, .bgimg_2, .bgimg_3 {
		height: 250px;
	}
}

@media screen and (min-width: 1651px) {
  .slideshow-container, .dot, .current_models_specs_ss {
		display: none;
  }
}

@media screen and (max-width: 1200px) {
  .col_25, .col_75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
	.container {
		margin: 0px 30px;
	}
}
/* responsive */



/* ---------- Copyright © Ali Abedi [May 2020] ---------- */